<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <p>名前</p>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
  </div>

  <div class="form-group">
    <p>部署</p>
    <%= f.select :department, [["経理部", "経理部"], ["開発部", "開発部"], ["営業部", "営業部"], ["人事部", "人事部"]], include_blank: "選択して下さい" %>
  </div>

  <div class="form-group">
    <p>画像</p>
    <%= f.file_field:image, class: "form-control" %>
  </div>

  <div class="form-group">
    <p>メールアドレス</p>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="form-group">
    <p>パスワード</p>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    <div id="passwordHelpBlock" class="form-text">
      Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
    </div>
  </div>

  <div class="form-group">
    <p>確認用パスワード</p>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
