<div class="show d-flex justify-content-evenly">
  <div class= "show_image col-3">
    <% if @powder.image.presence %>
      <%= image_tag @powder.image %>
    <% else %>
      <%= image_tag "27439.png" %>
    <% end %>
  </div>
  
  <div class="user_material_table">
    <table class="table">
      <tbody>
        <%= render "/layouts/common_material_show_tbody", material: @powder %>
        <tr>
          <th scope="col"><%= Constants::PARTICLE_SIZE %></th>
          <td><%= @powder.particle_size %>nm</td>
        </tr>
        <tr>
          <th scope="col"><%= Constants::DENSITY %></th>
          <td><%= @powder.density %>g/cm3</td>
        </tr>
        <tr>
          <th scope="col"><%= Constants::SSA %></th>
          <td><%= @powder.ssa %>m2/g</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="submit<%= ' no_permitted_user' if @powder.user_id != current_user.id %>">
  <%= link_to "情報の変更", edit_powder_path, class:"btn btn-primary text-right float-end my-4" %>
</div>

<div class="clear"></div>
<div class="comment">
  <%= form_with url: {controller: 'comments', action: 'create'},local:true, method: :post do |f| %>
    <%= f.text_field :comment, autofocus: true, class: "form-control", placeholder: "ここにコメントを記入" %>
    <%= f.submit "投稿する", class: "btn btn-primary float-end" %>
    <div class="clear"></div>
  <% end %>
</div>