<h2 class="mb-4">液体材料登録</h2>
<div class="form">
  <table class="table">
    <%= form_with model: @liquid, url: {controller: 'liquids', action: 'update'},local:true, id: "liquid", method: :patch do |f| %>
      <tbody>
        <%= render "/layouts/common_material_form", f: f %>
        <tr>
          <th scope="row"><%= Constants::DENSITY %></th>
          <td><%= f.text_field :density, autofocus: true, class: "form-control" %></td>
          <td class="align-bottom text-start">g/cm3</td>
        </tr>
        <tr>
          <th scope="row"><%= Constants::VISCOSITY %></th>
          <td><%= f.text_field :viscosity, autofocus: true, class: "form-control" %></td>
          <td class="align-bottom text-start">Pa・s</td>
        </tr>
    <% end %>
  </table>
  <div class="float-end">
    <button class="btn btn-primary" type="submit" form="liquid">登録</button>
    <%= button_to "削除", "/okonomiyakidb/liquids/#{@liquid.id}", data: { confirm: "削除してもよろしいですか?" }, method: :delete, class:"btn btn-danger mt-1" %>
  </div>
</div>

