<div class="show d-flex">
  <div class= "show_image col-6">
    <%= render "/layouts/refactoring/no_image", anything: @liquid %>
  </div>
  <div class="user_material_table">
    <table class="table">
      <tbody>
        <%= render "/layouts/common_material_show_tbody", material: @liquid %>
        <tr>
          <th scope="col"><%= Constants::DENSITY %></th>
          <td><%= @liquid.density %>g/cm3</td>
        </tr>
        <tr>
          <th scope="col"><%= Constants::VISCOSITY %></th>
          <td><%= @liquid.viscosity %>Pa・s</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="submit<%= ' no_permitted_user' if @liquid.user_id != current_user.id %>">
  <%= link_to "情報の変更", edit_liquid_path, class:"btn btn-primary text-right float-end my-4" %>
</div>
<div class="clear"></div>
<%= render "/layouts/refactoring/comment/comment_list", anything: @liquid %>
<div class="comment_form">
  <%= form_with url: {controller: 'comments', action: 'create'},local:true, method: :post do |f| %>
    <%= f.text_area :comment, autofocus: true, class: "form-control", placeholder: "ここにコメントを記入" %>
    <%= f.hidden_field :liquid_id, :value => @liquid.id %>
    <%= f.submit "投稿する", class: "btn btn-primary float-end mt-5" %>
    <div class="clear"></div>
  <% end %>
</div>
