<h2 class="mb-4">切り方登録</h2>
<div class="form">
  <table class="table">
    <%= form_with model: @cut, url: {controller: 'cuts', action: 'update'},local:true, id: "cut", method: :patch do |f| %>
      <tbody>
        <%= render "/layouts/common_technique_form", f: f %>
        <tr>
          <th scope="row"><%= Constants::WIDTH %></th>
          <td><%= f.text_field :width, autofocus: true, class: "form-control" %></td>
          <td class="align-bottom text-start">mm</td>
        </tr>
        <tr>
          <th scope="row"><%= Constants::HEIGHT %></th>
          <td><%= f.text_field :height, autofocus: true, class: "form-control" %></td>
          <td class="align-bottom text-start">mm</td>
        </tr>
    <% end %>
  </table>
  <div class="text-right float-end">
    <button class="btn btn-primary" type="submit" form="cut">登録</button>
    <%= button_to "削除", "/okonomiyakidb/cuts/#{@cut.id}", data: { confirm: "削除してもよろしいですか?" }, method: :delete, class:"btn btn-danger mt-1" %>
  </div>
</div>

