<div class="show d-flex justify-content-evenly">
  <div class= "show_image col-6">
    <%= render "/layouts/refactoring/no_image", anything: @cut %>
  </div>
  <div class="user_technique_table">
    <table class="table">
      <tbody>
        <%= render "/layouts/common_technique_show_tbody", technique: @cut %>
        <tr>
          <th scope="col"><%= Constants::WIDTH %></th>
          <td><%= @cut.width %>mm</td>
        </tr>
        <tr>
          <th scope="col"><%= Constants::HEIGHT %></th>
          <td><%= @cut.height %>mm</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="submit<%= ' no_permitted_user' if @cut.user_id != current_user.id %>">
  <%= link_to "情報の変更", edit_cut_path, class:"btn btn-primary text-right float-end my-4" %>
</div>
<div class="clear"></div>
<%= render "/layouts/refactoring/comment/comment_list", anything: @cut %>
<div class="comment_form">
  <%= form_with url: {controller: 'comments', action: 'create'},local:true, method: :post do |f| %>
    <%= f.text_area :comment, autofocus: true, class: "form-control", placeholder: "ここにコメントを記入" %>
    <%= f.hidden_field :cut_id, :value => @cut.id %>
    <%= f.submit "投稿する", class: "btn btn-primary float-end mt-5" %>
    <div class="clear"></div>
  <% end %>
</div>
