<tr>
  <th scope="col"><%= Constants::NAME %></th>
  <td><%= material.name %></td>
</tr>
<tr>
  <th scope="col"><%= Constants::COST %></th>
  <td><%= material.cost %>円</td>
</tr>
<tr>
  <th scope="col"><%= Constants::DESCRIPTION %></th>
  <td><%= material.description %></td>
</tr>
<tr>
  <th scope="col"><%= Constants::WARNING %></th>
  <td><%= material.warning %></td>
</tr>