<tr>
  <th scope="col"><%= Constants::NAME %></th>
  <td><%= technique.name %></td>
</tr>
<tr>
  <th scope="col"><%= Constants::COST %></th>
  <td><%= technique.cost %>円</td>
</tr>
<tr>
  <th scope="col"><%= Constants::TOOL %></th>
  <td><%= technique.tool %></td>
</tr>
<tr>
  <th scope="col"><%= Constants::DESCRIPTION %></th>
  <td><%= technique.description %></td>
</tr>
<tr>
  <th scope="col"><%= Constants::WARNING %></th>
  <td><%= technique.warning %></td>
</tr>
