<%= render "/layouts/search_form", url: technique_category_bakes_path, q: @q %>
<%= render "/layouts/technique_blank" %>
<table class="table<%= ' no_data_table' if @techniques.blank? %>">
  <%= render '/layouts/show_thead' %>
  <tbody>
    <% @bakes.each_with_index do |bake, index| %>
      <tr>
        <th scope="row"><%= index+ 1 %></th>
        <td class="index_image"><%= image_tag bake.image %>
<!--%= render "/layouts/refactoring/no_image", anything: technique %--></td>
        <td><%=link_to technique.name, bake_path(technique.id) %></td>
        <td><%=technique.cost %></td>
        <td><%=technique.created_at.strftime('%Y/%m/%d') %></td>
        <td><%=technique.updated_at.strftime('%Y/%m/%d') %></td>
      </tr>
    <% end%>
    </tbody>
</table>
