<div class="show d-flex justify-content-evenly">
  <div class= "show_image col-3">
    <% if @bake.image.presence %>
      <%= image_tag @bake.image %>
    <% else %>
      <%= image_tag "27439.png" %>
    <% end %>
  </div>
  <div class="user_technique_table">
    <table class="table">
      <tbody>
        <%= render "/layouts/common_technique_show_tbody", technique: @bake %>
        <tr>
          <th scope="col"><%= Constants::TEMP %></th>
          <td><%= @bake.temp %>℃</td>
        </tr>
        <tr>
          <th scope="col"><%= Constants::TIME %></th>
          <td><%= @bake.time %>h</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="submit<%= ' no_permitted_user' if @bake.user_id != current_user.id %>">
  <%= link_to "情報の変更", edit_bake_path, class:"btn btn-primary text-right float-end my-4" %>
</div>
<div class="clear"></div>
