<table class="table">
        <tbody>
          <tr>
            <th scope="row"><%= Constants::NAME %></th>
            <td><%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %></td>
          </tr>
          <tr>
            <th scope="row"><%= Constants::PRICE %></th>
            <td><%= f.text_field :price, autofocus: true, class: "form-control" %></td>
            <td class="align-bottom text-start">円</td>
          </tr>
          <tr>
            <th scope="row"><%= Constants::COST %></th>
            <td><%= f.text_field :cost, autofocus: true, class: "form-control" %></td>
            <td class="align-bottom text-start">円</td>
          </tr>
          <tr>
            <th scope="row"><%= Constants::IMAGE %></th>
            <td><%= f.file_field:image, class: "form-control" %></td>
          </tr>
          <tr>
            <th scope="row"><%= Constants::APP %></th>
            <td><%= f.text_field :app, autofocus: true, class: "form-control" %></td>
          </tr>
          <tr>
            <th scope="row"><%= Constants::JUICY %></th>
            <td><%= f.text_field :juicy, autofocus: true, class: "form-control" %></td>
          </tr>
          <tr>
            <th scope="row"><%= Constants::TASTE %></th>
            <td><%= f.text_field :taste, autofocus: true, class: "form-control" %></td>
          </tr>
          <tr>
            <th scope="row"><%= Constants::SMELL %></th>
            <td><%= f.text_field :smell, autofocus: true, class: "form-control" %></td>
          </tr>
          <tr>
            <th>焼き方</th>
            <td><%= f.collection_select :bake_id, Bake.all, :id, :name, {prompt: "焼き方を選択"}, {class: "form-control"} %></td>
          </tr>
          <tr>
            <th>切り方</th>
            <td><%= f.collection_select :cut_id, Cut.all, :id, :name, {prompt: "切り方を選択"}, {class: "form-control"} %></td>
          </tr>
          <tr>
            <th>それ以外の工法</th>
            <td><%= f.collection_select :other_technique_id, OtherTechnique.all, :id, :name, {prompt: "その他工法を選択"}, {class: "form-control"} %></td>
          </tr>
        </tbody>
    </table>
    <table>
      <thead>
      <tr>
      <th>材料名</th>
      <th>重量 (g)</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= f.collection_select :powder_id, Powder.all, :id, :name, {prompt: "粉末材料を選択"}, {class: "form-control"} %></td>
          <td><%= f.text_field :powder_weight, autofocus: true, class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.collection_select :liquid_id, Liquid.all, :id, :name, {prompt: "液体材料を選択"}, {class: "form-control"} %></td>
          <td><%= f.text_field :liquid_weight, autofocus: true, class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.collection_select :seasoning_id, Seasoning.all, :id, :name, {prompt: "調味料を選択"}, {class: "form-control"} %></td>
          <td><%= f.text_field :seasoning_weight, autofocus: true, class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.collection_select :other_material_id, OtherMaterial.all, :id, :name, {prompt: "その他材料を選択"}, {class: "form-control"} %></td>
          <td><%= f.text_field :other_material_weight, autofocus: true, class: "form-control" %></td>
        </tr>
      </tbody>
    </table>
    <%= f.submit "登録", class: "btn btn-primary text-right float-end", id: "submit" %>