<h2>製品登録</h2>

<%= form_with model: @product, local:true, method: :post do |f| %>
  <div class="form-group">
    <p>名前</p>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
  </div>

  <div class="form-group">
    <p>価格</p>
    <%= f.text_field :price, autofocus: true, class: "form-control" %>円
  </div>

  <div class="form-group">
    <p>原価</p>
    <%= f.text_field :cost, autofocus: true, class: "form-control" %>円
  </div>

  <div class="form-group">
    <p>画像</p>
    <%= f.file_field:image, class: "form-control" %>
  </div>

  <h3>性能</h3>

  <div class="form-group">
    <p>見た目</p>
    <%= f.text_field :app, autofocus: true, class: "form-control" %>円
  </div>

  <div class="form-group">
    <p>ジューシーさ</p>
    <%= f.text_field :price, autofocus: true, class: "form-control" %>円
  </div>

  <div class="form-group">
    <p>味</p>
    <%= f.text_field :juicy, autofocus: true, class: "form-control" %>円
  </div>

  <div class="form-group">
    <p>香り</p>
    <%= f.text_field :price, autofocus: true, class: "form-control" %>円
  </div>
  <div class="actions">
    <%= f.submit "次へ" %>
  </div>
<% end %>
<!--%= render produ %-->
