<h2 class="mb-4">製品登録</h2>
<div class="form">
  <table class="table">
    <%= form_with model: @product, url: {controller: 'products', action: 'create'},local:true, id: "product", method: :post do |f| %>
      <tbody>
        <tr>
          <th scope="row"><%= Constants::NAME %></th>
          <td><%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %></td>
        </tr>
        <tr>
          <th scope="row"><%= Constants::PRICE %></th>
          <td><%= f.text_field :price, autofocus: true, class: "form-control" %></td>
          <td class="align-bottom text-start">円</td>
        </tr>
        <tr>
          <th scope="row"><%= Constants::COST %></th>
          <td><%= f.text_field :cost, autofocus: true, class: "form-control" %></td>
          <td class="align-bottom text-start">円</td>
        </tr>
        <tr>
          <th scope="row"><%= Constants::IMAGE %></th>
          <td><%= f.file_field:image, class: "form-control" %></td>
        </tr>
        <tr>
          <th scope="row"><%= Constants::APP %></th>
          <td><%= f.text_field :app, autofocus: true, class: "form-control" %></td>
        </tr>
        <tr>
          <th scope="row"><%= Constants::JUICY %></th>
          <td><%= f.text_field :juicy, autofocus: true, class: "form-control" %></td>
        </tr>
        <tr>
          <th scope="row"><%= Constants::TASTE %></th>
          <td><%= f.text_field :taste, autofocus: true, class: "form-control" %></td>
        </tr>
        <tr>
          <th scope="row"><%= Constants::SMELL %></th>
          <td><%= f.text_field :smell, autofocus: true, class: "form-control" %></td>
        </tr>
        <tr>
          <th>焼き方</th>
          <td><%= f.collection_select :bake_id, Bake.all, :id, :name, {prompt: "焼き方を選択"}, {class: "form-control"} %></td>
        </tr>
        <tr>
          <th>切り方</th>
          <td><%= f.collection_select :cut_id, Cut.all, :id, :name, {prompt: "切り方を選択"}, {class: "form-control"} %></td>
        </tr>
        <tr>
          <th>それ以外の工法</th>
          <td><%= f.collection_select :other_technique_id, OtherTechnique.all, :id, :name, {prompt: "その他工法を選択"}, {class: "form-control"} %></td>
        </tr>
    <% end %>
  </table>
  <div class="text-right float-end">
    <button class="btn btn-primary" type="submit" form="product">次へ</button>
  </div>
  <div class="clear"></div>
</div>

