<div class="show d-flex justify-content-evenly">
  <div class= "show_image col-3">
    <% if @product.image.presence %>
      <%= image_tag @product.image %>
    <% else %>
      <%= image_tag "27439.png" %>
    <% end %>
  </div>
  
  <div class="user_product_table">
    <table class="table">
      <tbody>
        <tr>
          <th scope="col"><%= Constants::NAME %></th>
          <td><%= @product.name %></td>
        </tr>
        <tr>
          <th scope="col"><%= Constants::COST %></th>
          <td><%= @product.cost %>円</td>
        </tr>
        <tr>
          <th scope="col"><%= Constants::DESCRIPTION %></th>
          <td><%= @product.description %></td>
        </tr>
        <tr>
          <th scope="col"><%= Constants::APP %></th>
          <td><%= @product.app %></td>
        </tr>
        <tr>
          <th scope="col"><%= Constants::JUICY %></th>
          <td><%= @product.juicy %></td>
        </tr>
        <tr>
          <th scope="col"><%= Constants::TASTE %></th>
          <td><%= @product.taste %></td>
        </tr>
        <tr>
          <th scope="col"><%= Constants::SMELL %></th>
          <td><%= @product.smell %></td>
        </tr>
        <tr>
          <th scope="col">焼き方</th>
          <td><%= link_to @product.bake.name, bake_path(id: @product.bake.id) %></td>
        </tr>
        <tr>
          <th scope="col">切り方</th>
          <td><%= link_to @product.cut.name, cut_path(id: @product.cut.id) %></td>
        </tr>
        <tr>
          <th scope="col">その他の工法</th>
          <td><%= link_to @product.other_technique.name, other_technique_path(id: @product.other_technique.id) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="submit<%= ' no_permitted_user' if @product.user_id != current_user.id %>">
  <%= link_to "情報の変更", edit_product_path, class:"btn btn-primary text-right float-end my-4" %>
</div>
<div class="clear"></div>
<div class="comment_form">
  <%= form_with url: {controller: 'comments', action: 'create'},local:true, method: :post do |f| %>
    <%= f.text_area :comment, autofocus: true, class: "form-control mt-5", placeholder: "ここにコメントを記入" %>
    <%= f.hidden_field :product_id, :value => @product.id %>
    <%= f.submit "投稿する", class: "btn btn-primary float-end mt-5" %>
    <div class="clear"></div>
  <% end %>
</div>