<%= render "/layouts/search_form", url: material_category_seasonings_path, q: @q %>
<%= render "/layouts/material_blank" %>
<table class="table<%= ' no_data_table' if @materials.blank? %>">
  <%= render '/layouts/show_thead' %>
  <tbody>
    <% @materials.each_with_index do |material, index| %>
      <tr>
        <th scope="row"><%= index+ 1 %></th>
        <td class="index_image"><%= render "/layouts/refactoring/no_image", anything: material %></td>
        <td><%=link_to material.name, seasoning_path(material.id) %></td>
        <td><%=material.cost %></td>
        <td><%=material.created_at.strftime('%Y/%m/%d') %></td>
        <td><%=material.updated_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <% end%>
    </tbody>
</table>
