<!DOCTYPE html>
<html>
  <head>
    <title>Okonomiyakidb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbolinks-visit-control" content="reload">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
          <%= link_to "Okonomiyakidb",tops_path, class:"navbar-brand" %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav .ml-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <!--img src="<!--%= current_user.image %-->" alt="icon image"-->
                <%= current_user.name %>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><%= link_to "Profile", account_path(current_user.id), class:"dropdown-item" %></li>
                  <li><%= link_to "help", "", class:"dropdown-item" %></li>
                  <li><%= link_to "logout", destroy_user_session_path, class:"dropdown-item", method: :delete %></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="sidebar_main">
      <div class="sidebar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light h-100">
          <div class="container-fluid">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-column nav_menu">
              <li class="nav-item dropend">
                <a class="nav-link dropdown-toggle product_icon icon" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Product
                </a>
                <ul class="dropdown-menu dropdend" aria-labelledby="navbarDropdown">
                  <li><%= link_to "製品検索", searches_product_search_path, class:"dropdown-item product_icon icon" %></li>
                  <li><%= link_to "製品登録", new_product_path, class:"dropdown-item material_icon icon" %></li>
                </ul>
              </li>
              <li class="nav-item dropend">
                <a class="nav-link dropdown-toggle material_icon icon" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Material
                </a>
                <ul class="dropdown-menu dropdend" aria-labelledby="navbarDropdown">
                  <li><%= link_to "材料検索", searches_material_search_path, class:"dropdown-item" %></li>
                  <li><%= link_to "材料登録", material_categories_path, class:"dropdown-item material_icon icon" %></li>
                </ul>
              </li>
              <li class="nav-item dropend">
                <a class="nav-link dropdown-toggle technique_icon icon" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Technique
                </a>
                <ul class="dropdown-menu dropdend" aria-labelledby="navbarDropdown">
                  <li><%= link_to "工法検索", searches_technique_search_path, class:"dropdown-item product_icon icon" %></li>
                  <li><%= link_to "工法登録", technique_categories_path, class:"dropdown-item material_icon icon" %></li>
                </ul>
              </li>
              <li class="nav-item dropend">
                <a class="nav-link dropdown-toggle discuss_icon icon" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Discuss
                </a>
                <ul class="dropdown-menu dropdend" aria-labelledby="navbarDropdown">
                  <li><%= link_to "相談・質問投稿", new_discuss_path, class:"dropdown-item product_icon icon" %></li>
                  <li><%= link_to "相談・質問検索", discusses_path, class:"dropdown-item material_icon icon" %></li>
                  <li><%= link_to "社員検索", searches_user_search_path, class:"dropdown-item material_icon icon" %></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <main>
        <div class="login_message">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
          </div>
        <div class="container col-sm-10 right_main_container">
          <%= yield %>
        </div>
      </main>
    </div>
    <%= javascript_pack_tag 'nav' %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>
