<h2>検索</h2>
<%= search_form_for @q, url: accounts_path do |f| %>
  <div class="form_container">
    <div class="form_name">
      <p><%= Constants::NAME %></p>
      <%= f.search_field :name_cont, class:"form-inline" %>
    </div>
    <div class="form_name">
      <p><%= Constants::DEPARTMENT %></p>
      <%= f.search_field :department_cont, class:"form-inline" %>
    </div>
    <%= f.submit "検索", class: "btn btn-primary submit" %>
  </div>
<% end %>
<h2>検索結果：<%=@count %>件</h2>
<% if @users.blank? %>
  検索結果なし
<% end %>
<table class="table<%= ' no_data_table' if @users.blank? %>">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col"><%= Constants::IMAGE %></th>
      <th scope="col"><%= Constants::NAME %></th>
      <th scope="col"><%= Constants::DEPARTMENT %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr>
        <th scope="row"><%= index+ 1 %></th>
        <td><%= image_tag user.image if user.image.present? %></td>
        <td><%= link_to user.name, account_path(user.id) %></td>
        <td><%=user.department %></td>
      </tr>
    <% end%>
  </tbody>
</table>