<h2>検索</h2>
<%= search_form_for @q, url: url do |f| %>
  <div class="form_container">
    <div class="form_name">
      <p><%= Constants::NAME %></p>
      <%= f.search_field :name_cont, class:"form-inline" %>
    </div>
    <div class="form_cost">
      <p><%= Constants::COST %></p>
      <%= f.search_field :cost_gteq, placeholder:"以上", size:5, class:"form-inline me-1" %>
      〜
      <%= f.search_field :cost_lteq, placeholder:"以下", size:5, class:"form-inline ms-1" %>
    </div>
    <%= f.submit "検索", class: "btn btn-primary submit" %>
  </div>
<% end %>
<h2>検索結果：<%=@count %>件</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col"><%= Constants::IMAGE %></th>
      <th scope="col"><%= Constants::NAME %></th>
      <th scope="col"><%= Constants::DEPARTMENT %></th>
    </tr>
  </thead>
  <tbody>
      <% @user.each_with_index do |user, index| %>
      <tr>
        <th scope="row"><%= index+ 1 %></th>
        <td><%= image_tag user.image if user.image.present? %></td>
        <td><%= user.name %></td>
        <td><%=user.department %></td>
        <td>コメントを送る</td>
      </tr>
      <% end%>
  </tbody>
</table>