<h2>プロフィール</h2>
<div class="account_container d-flex">
  <div class="show_icon col-3">
    <td class="index_image"><%= render "/layouts/refactoring/no_image", anything: @user %></td>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <th scope="row"><%= Constants::NAME %></th>
        <td><%= @user.name %></td>
      </tr>
      <tr class="<%= ' no_permitted_user' if @user.id != current_user.id %>">
        <th scope="row"><%= Constants::EMAIL %></th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th scope="row"><%= Constants::DEPARTMENT %></th>
        <td><%= @user.department %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="submit<%= ' no_permitted_user' if @user.id != current_user.id %>">
  <%= link_to "アカウント情報の変更", edit_user_registration_path, class:"btn btn-primary text-right float-end my-4" %>
</div>
<div class="clear"></div>
<div class="discuss<%= ' no_permitted_user' if @user.id == current_user.id %>">
  <%= link_to "相談・提案する", new_account_discuss_path(@user.id), class:"btn btn-success text-right float-end my-4" %>
</div>
<div class="clear"></div>
<div class="user_product">
  <h2 class="">登録リスト</h2>
  <h3 class="">製品</h3>
  <% if @products.blank? %>
    登録した製品はありません
  <% end %>
  <table class="table<%= ' no_data_table' if @products.blank? %>">
    <%= render "/layouts/show_product_thead" %>
    <tbody>
<% @products.each_with_index do |product, index|%>
      <tr>
        <th scope="row"><%= index+ 1 %></th>
        <td class="index_image"><%= render "/layouts/refactoring/no_image", anything: product %></td>
        <td><%=link_to product.name, product_path(product.id) %></td>
        <td><%=product.price %></td>
        <td><%=product.cost %></td>
        <td><%=product.created_at.strftime('%Y/%m/%d') %></td>
        <td><%=product.updated_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <% end%>
    </tbody>
  </table>
</div>
<div class="user_material">
  <h3 class="">材料</h3>
  <% if @powders.blank? and @liquids.blank? and @seasonings.blank? and @other_materials.blank?%>
  登録した材料はありません
  <% end %>
  <table class="table<%= ' no_data_table' if @powders.blank? and @liquids.blank? and @seasonings.blank? and @other_materials.blank? %>">
    <%= render "/layouts/show_thead" %>
    <tbody>
    <% @powders.each_with_index do |powder, index| %>
      <tr>
        <th scope="row"><%= index+ 1 %></th>
        <td class="index_image"><%= render "/layouts/refactoring/no_image", anything: powder %></td>
        <td><%=link_to powder.name, powder_path(powder.id)  %></td>
        <td><%=powder.cost %></td>
        <td><%=powder.created_at.strftime('%Y/%m/%d') %></td>
        <td><%=powder.updated_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <% end%>

    <% @liquids.each_with_index do |liquid, index| %>
      <tr>
        <th scope="row"><%= index+ @liquids.size + 1 %></th>
        <td class="index_image"><%= render "/layouts/refactoring/no_image", anything: liquid %></td>
        <td><%=link_to liquid.name, liquid_path(liquid.id)  %></td>
        <td><%=liquid.cost %></td>
        <td><%=liquid.created_at.strftime('%Y/%m/%d') %></td>
        <td><%=liquid.updated_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <% end%>
      <% @seasonings.each_with_index do |seasoning, index| %>
        <tr>
          <th scope="row"><%= index+ @powders.size+ @liquids.size + 1 %></th>
          <td class="index_image"><%= render "/layouts/refactoring/no_image", anything: seasoning %></td>
          <td><%=link_to seasoning.name, seasoning_path(seasoning.id)  %></td>
          <td><%=seasoning.cost %></td>
          <td><%=seasoning.created_at.strftime('%Y/%m/%d') %></td>
          <td><%=seasoning.updated_at.strftime('%Y/%m/%d') %></td>
        </tr>
      <% end%>
      <% @other_materials.each_with_index do |other_material, index| %>
        <tr>
          <th scope="row"><%= index+ @powders.size+ @liquids.size+ @seasonings.size + 1 %></th>
          <td class="index_image"><%= render "/layouts/refactoring/no_image", anything: other_material %></td>
          <td><%=link_to other_material.name, other_material_path(other_material.id)  %></td>
          <td><%=other_material.cost %></td>
          <td><%=other_material.created_at.strftime('%Y/%m/%d') %></td>
          <td><%=other_material.updated_at.strftime('%Y/%m/%d') %></td>
        </tr>
      <% end%>
    </tbody>
  </table>
</div>
<div class="user_material">
  <h3 class="">工法</h3>
  <% if @bakes.blank? and @cuts.blank? and @other_techniques.blank? %>
  登録した工法はありません
  <% end %>
  <table class="table<%= " no_data_table" if @bakes.blank? and @cuts.blank? and @other_techniques.blank? %>">
    <%= render "/layouts/show_thead" %>
    <tbody>
      <% @bakes.each_with_index do |bake, index| %>
        <tr>
          <th scope="row"><%= index+ 1 %></th>
          <td class="index_image"><%= render "/layouts/refactoring/no_image", anything: bake %></td>
          <td><%=link_to bake.name, bake_path(bake.id)  %></td>
          <td><%=bake.cost %></td>
          <td><%=bake.created_at.strftime('%Y/%m/%d') %></td>
          <td><%=bake.updated_at.strftime('%Y/%m/%d') %></td>
        </tr>
      <% end%>
      <% @cuts.each_with_index do |cut, index| %>
        <tr>
          <th scope="row"><%= index+ @bakes.size + 1 %></th>
          <td class="index_image"><%= render "/layouts/refactoring/no_image", anything: cut %></td>
          <td><%=link_to cut.name, cut_path(cut.id)  %></td>
          <td><%=cut.cost %></td>
          <td><%=cut.created_at.strftime('%Y/%m/%d') %></td>
          <td><%=cut.updated_at.strftime('%Y/%m/%d') %></td>
        </tr>
      <% end%>
      <% @other_techniques.each_with_index do |other_technique, index| %>
        <tr>
          <th scope="row"><%= index+ @other_techniques.size+ @other_techniques.size + 1 %></th>
          <td class="index_image"><%= render "/layouts/refactoring/no_image", anything: other_technique %></td>
          <td><%=link_to other_technique.name, other_technique_path(other_technique.id)  %></td>
          <td><%=other_technique.cost %></td>
          <td><%=other_technique.created_at.strftime('%Y/%m/%d') %></td>
          <td><%=other_technique.updated_at.strftime('%Y/%m/%d') %></td>
        </tr>
      <% end%>
    </tbody>
  </table>
</div>
