<h1>Accounts#show</h1>
<p>Find me in app/views/accounts/show.html.erb</p>

<div class="main user-show  users-right col-9">
  <div class="container col-6">
    <div class="user">
      <dl>
        <dt><%= Constants::NAME %></dt>
        <dd><%= current_user.name %></dd>
        <dt><%= Constants::EMAIL %></dt>
        <dd><%= current_user.email %></dd>
        <dt><%= Constants::DEPARTMENT %></dt>
        <dd><%= current_user.department %></dd>
        <dt><%= Constants::PASSWORD %></dt>
        <dd>非表示</dd>
        <%= link_to "アカウント情報の変更", edit_user_registration_path %>
  </div>
</div>